.description {
  font-family: Georgia, "Sans-Serif";
  font-size: 13pt;
  align: center;
}

.col-md-4 {
  font-family: Georgia, "Sans-Serif";
  font-size: 13pt;
}

.jumbotron {
  background-color: #ffffff;
}

.display-4 {
  color: #d19643;
}

h3 {
  color: #d19643;
  text-align: center;
  font-family: Georgia, "Sans-Serif";
}

h2 {
  text-align: center;
  color: #c4ae98;
  font-family: Georgia, "Sans-Serif";
  font-size: 26pt;
}

li {
    text-align: center;
    font-family: Georgia, "Sans-Serif";
    padding-bottom: 10px;
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #0e76a8;
  color: white;
}

.text-uppercase {
  text-align: center;
}

.img-fluid {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 5px;
}
