/* Main Style */

BODY {
  font-family: 'Open Sans', arial, sans-serif;
  font-size:1em;
  color:#444;
  font-weight:400;
}

#container {
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding-bottom:50px;
  font-weight:400;
}

#name {
  font-size:3em;
  text-transform:uppercase;
  text-align:center;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width:300px;
  margin:0 auto;
  color:#33485e;
  font-weight:400;
}

#title {
  color:#33485e;
  text-transform:uppercase;
  font-size:1.5em;
  font-weight:600;
  text-align:center;
  margin-top: 20px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
}

.sectionheader {
  font-size:1em;
  text-transform:uppercase;
  background-color:#33485e;
  color:#fff;
  margin-top:20px;
  margin-bottom:10px;
  margin-right:0px;
  margin-left:0px;
  width:70%;
  min-width:300px;
  font-weight:400;
  padding-left:15px;
}

.jobtitle {
  font-weight:600;
  font-size:1.5em;
}

.organization {
  font-weight:400;
  font-size:1.25em;
}

.date {
  font-weight:400;
  font-size:1em;
  font-style:italic;
  margin-top:2px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
}

.description {
  font-size:1em;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:0px;
  margin-left:0px;
  font-weight:400;
}

.menu {
  padding:0px;
  margin:0px;
  text-align:center;
  font-weight:400;
}

.menu li {
  display:inline;
}

#degrees {
  margin-top:5px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  font-weight:400;
  padding-left:20px;
  font-size:1em;
}

#do {
  margin-top:5px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
  font-weight:400;
  padding-left:20px;
  font-size:1em;
}

.top {
  width:60%;
  min-width:300px;
  margin:0 auto;
  margin-bottom:30px;
  font-weight:400;
  font-size:1em;
}
